# Python
__pycache__/
*.pyc
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# workspace
*.code-workspace

# IAM lab test files
01-AWS/volunteer-*.txt
01-AWS/S3/lab1.txt